* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFAF5;
    --btn-height: 56px;
    --nav-color: #5E6085;
    --desc-color: #656689;
    --heading-color: #000958;
    --action-color: #FF5B2E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora";
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

/* COMMON */

.section__heading {
    color: var(--heading-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.16;
}


.section__desc {
    margin-top: 24px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 117px;
    border-radius: 99px;
    line-height: var(--btn-height);
    text-align: center;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    padding-top: 26px;
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 0 18px;
}

.navbar__link {
    color: var(--nav-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
}

.navbar__link:hover,
.navbar__active {
    color: var(--heading-color);
    text-shadow: 0.5px 0 0 var(--heading-color);
}

.navbar__action {
    --btn-height: 50px;
    border: 1px solid var(--heading-color);
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--heading-color);
}

.hero {
    padding: 100px 0 77px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    width: 550px;
    height: 582px;
    position: relative;
}

.hero__image {
    object-fit: cover;
    border-radius: 16px;
    border: 3px solid #fff;
    width: 388px;
    height: 488px;
}

.hero__image--small {
    width: 186px;
    height: 244px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #FBDCDE;
}

.hero__list {
    bottom: 0;
    right: 170px;
    position: absolute;
    width: 250px;
    border-radius: 10px;
    background: #FFF;
    padding: 18px 14px;
}

.hero-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-item+.hero-item {
    margin-top: 40px;
}

.hero-item+.hero-item::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: -20px;
    width: 222px;
    height: 2px;
    background: #F2F2F2;
}

.hero-item__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-item__heading {
    color: #181E52;
    font-size: 1.4rem;
    font-weight: 600;
}

.line {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.line+.line {
    margin-top: 6px;
    width: 39px;
}

.hero__body {
    width: 517px;
}

.hero__desc {
    width: 391px;
}

.hero__row {
    margin-top: 28px;
}

.hero__action {
    position: relative;
    --btn-height: 60px;
    padding: 0 30px;
    width: 189px;
    background-color: var(--action-color);
    color: #FFF;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 600;
}

.hero__action::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.hero__link {
    color: var(--heading-color);
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

/* ABOUT */

.about {
    padding: 53px 0;
    background-color: var(--primary-color);
}

.about__inner {
    display: flex;
    align-items: center;
    column-gap: 108px;
}

.about__body {
    width: 477px;

}

.about__tag {
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about__desc {
    width: 431px;
}

.about__list {
    display: grid;
    margin-top: 54px;
    grid-template-columns: repeat(2, max-content);
    gap: 40px 36px;
}

.about-item__detail {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
}

.about-item__detail::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--action-color);
    border-radius: 4px;
}

.about-item__detail::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 12px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-radius: 1px;
    rotate: 45deg;
    top: 3px;
    left: 8px;
}

.about__media {
    width: 636px;
    position: relative;
}

.about__media::before {
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    position: absolute;
    bottom: 0;
    left: 92px;
}

.about__image {
    position: relative;
    margin-left: 120px;
    width: 450px;
    height: 559px;
    object-fit: cover;
}

.about-star {
    position: absolute;
    left: 0;
    top: 170px;
    width: 136px;
    padding: 31px 26px 29px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-star__value {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
}

.about-star__desc {
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__inner--reverse {
    margin-top: 130px;
    column-gap: 78px;
    padding-top: 16px;
}

.about__inner--reverse .about__media {
    width: 477px;
}

.about__inner--reverse .about__media::before {
    display: none;
}

.about__inner--reverse .about__image {
    margin-left: 0;
    width: 458px;
    height: 500px;
    object-fit: cover;
    border-radius: 18px;
    border: 2px #FFF;
}

.about__inner--reverse .about__body {
    width: 557;
}

.about__inner--reverse .about__heading {
    margin-top: 0;
    width: 543px;
}

.about__inner--reverse .about__desc {
    width: 511px;
}

.about__inner--reverse .about__list {
    position: relative;
    grid-template-columns: repeat(3, max-content);
    column-gap: 56px;
}

.about__inner--reverse .about-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;
}

.about__inner--reverse .about-item--active::after {
    position: absolute;
    content: "";
    display: block;
    width: 95px;
    height: 2px;
    background: var(--action-color);
    bottom: 0;
    left: 0;
}

.about__inner--reverse .about-item__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.about__inner--reverse .about-item__detail {
    color: #48496A;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}


.about__inner--reverse .about-item__detail::after {
    display: none;
}

.about__inner--reverse .about-item__detail::before {
    display: none;
}

.about__inner--reverse .about__list::after,
.about-content__more::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: var(--action-color);
    border-radius: 9px;
    bottom: 0;
    left: 0;
}

.about-content {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.about-content__item {
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.about-content__desc {
    width: 391px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.715;
}

.about-content__more {
    display: inline-block;
    margin-top: 32px;
    position: relative;
    color: var(--action-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.about-content__more::after {
    opacity: 1;
    height: 1.5px;
    bottom: -5px;
}

/* SERVICE */

.service {
    padding: 68px 0 100px;
    margin-top: 130px;
    background: #FFF6ED;
}

.service__header {
    text-align: center;
}

.service__tag {
    display: inline-block;
    margin-bottom: 15px;
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.service__body {
    margin-top: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-item {
    width: 294px;
    background-color: #FFF;
    padding: 28px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
}

.service-item+.service-item {
    margin-top: 24px;
}

.service-item__heading::before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__heading {
    display: inline-flex;
    align-items: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.714;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
}

.service__media {
    width: 447px;
    height: 621px;
}

.service__image {
    object-fit: cover;
}

.service__cta {
    margin-top: -17px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 214px;
    --btn-height: 56px;
    border: 1px solid var(--action-color);
    opacity: 0.6;
    color: var(--action-color);
}